<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @team.role %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @team.sex %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
