<p id="notice"><%= notice %></p>

<h1>Premieres</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premieres.each do |premiere| %>
      <tr>
        <td><%= premiere.date %></td>
        <td><%= premiere.budget %></td>
        <td><%= link_to 'Show', premiere %></td>
        <td><%= link_to 'Edit', edit_premiere_path(premiere) %></td>
        <td><%= link_to 'Destroy', premiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premiere', new_premiere_path %>
